* {
    margin: 0;
    padding: 0;
}

body {
    padding: 50px 0;
    font-family: "Arial Narrow";
    font-size: 14px;
    background-color: #fff;
    color: #555;
}

/*sideber*/
.sideber {
    width: 100%;
    height: 400px;
    position: relative;
}

/*幻灯片区域样式*/
.sideber .main {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.sideber .main .main-i {
    width: 100%;
    height: 400px;
    position: relative;
}

.sideber .main .main-i img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.sideber .main .main-i .caption {
    position: absolute;
    right: 50%;
    top: 30%;
    z-index: 1;
}

.sideber .main .main-i .caption h2 {
    font-size: 40px;
    line-height: 50px;
    color: #b5b5b5;
    text-align: right;
}

.sideber .main .main-i .caption h3 {
    font-size: 70px;
    line-height: 70px;
    color: #000;
    text-align: right;
}

/*控制栏区域样式*/
.sideber .control {
    width: 100%;
    height: 13px;
    line-height: 13px;
    position: absolute;
    left: 0;
    bottom: -13px;
    text-align: center;
}

.sideber .control .control-i {
    display: inline-block;
    width: 150px;
    height: 100%;
    background-color: #666;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    position: relative;
    transition: 0.35s;
}

.sideber .control .control-i + .control-i {
    margin-left: 2px;
}

.sideber .control .control-i img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 1;
    transition: 0.35s;
    opacity: 0;
}

/*hover 时控制栏的样式*/

.sideber .control .control-i:hover {
    background-color: #f0f0f0;

}

.sideber .control .control-i:hover img {
    bottom: 13px;
    opacity: 1;
    -webkit-box-reflect: below 0px -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(transparent),
            color-stop(50%, transparent),
            to(rgba(255, 255, 255, .3))
    );
}

/*active 时控制栏的样式*/
.sideber .control .control-i_active,
.sideber .control .control-i_active:hover {
    background-color: #000;
}

.sideber .control .control-i_active:hover img {
    opacity: 0;
}

/*幻灯片切换样式*/
.sideber .main .main-i {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 50%;
    transition: .5s;

}

.sideber .main .main-i h2 {
    margin-right: 80px;
    transition: 0.8s 0.5s;
    opacity: 0;
}

.sideber .main .main-i h3 {
    margin-right: -80px;
    transition: 0.8s;
    opacity: 0;
}

.sideber .main .main-i_active {
    right: 0;
    opacity: 1;
}

.sideber .main .main-i_active h2, .sideber .main .main-i_active h3 {
    margin-right: 0;
    opacity: 1;
}